.App {
  font-family: sans-serif;
  text-align: center;
  background-color:white;
}

.card{
  border-style:solid;
  padding:10px
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.upcome{
  display: flex;
  justify-content: space-between;
}